@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #2f5c38;
  background: linear-gradient(
    90deg,
    rgba(47, 92, 56, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(35, 92, 32, 1) 100%
  );
}
.main {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.score-board {
  width: 180px;
  margin: 20px auto;
  padding: 20px 10px;
  background-color: black;
  border-radius: 12px;
  color: white;
}
.score-area {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.score {
  padding: 3px 3px;
  background-color: gray;
}
.score-reset {
  display: flex;
  gap: 5px;
  margin: 10px auto;
  padding: 10px;
  background-color: orange;
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
}

/* 박스요소 */
.box-area {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.card {
  position: relative;
  font-family: "Rufina", serif;
  padding: 120px 100px;
  background-color: white;
  border: 5px solid black;
  border-radius: 8px;
}
.card.win {
  color: green;
  border: 5px solid green;
}
.card.lose {
  color: red;
  border: 5px solid red;
}
.player {
  color: white;
  text-align: center;
  margin: 10px 0;
}
.left-top {
  position: absolute;
  left: 10px;
  top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}
.bottom-right {
  position: absolute;
  right: 10px;
  bottom: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: rotate(180deg);
  font-size: 20px;
  font-weight: bold;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.middle > .text {
  font-size: 24px;
  font-weight: bold;
}
.status {
  font-size: 22px;
}
.ready {
  font-size: 50px;
}
.choice {
  font-size: 40px;
}
.choice.small {
  font-size: 20px;
}

/* 가위바위보 버튼 */
.button-area {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button-area > button {
  padding: 16px;
  background-color: white;
  cursor: pointer;
}
.user-btn {
  font-size: 24px;
}

/* 테블릿~모바일 */
@media (max-width: 576px) {
  /* 스코어 보드 */
  .score-board {
    width: 100px;
    padding: 16px;
  }
  .score-area {
    font-size: 12px;
  }
  .score-reset {
    padding: 6px;
  }

  /* 박스(카드) 요소 */
  .box-area {
    gap: 30px;
  }
  .card {
    padding: 80px 60px;
  }
  .left-top,
  .bottom-right {
    font-size: 12px;
  }
  .middle > .text {
    font-size: 16px;
  }
  .choice {
    font-size: 28px;
  }
  .choice.small {
    font-size: 14px;
  }
  .player {
    font-size: 16px;
  }

  /* 가위바위보 */
  .button-area > button {
    padding: 8px;
  }
}

/* 데스크탑 */
@media (min-width: 1800px) {
  /* 스코어 보드 */
  .score-board {
    width: 200px;
    padding: 16px;
  }
  .score-area {
    font-size: 24px;
  }
  .score-reset {
    padding: 18px;
    font-size: 20px;
  }
  /* 박스(카드) 요소 */
  .box-area {
    gap: 150px;
  }
  .card {
    padding: 150px 100px;
  }
  .left-top,
  .bottom-right {
    font-size: 28px;
  }
  .middle > .text {
    font-size: 32px;
  }
  .choice {
    font-size: 52px;
  }
  .choice.small {
    font-size: 28px;
  }
  .status {
    font-size: 28px;
  }
  .player {
    font-size: 32px;
  }

  /* 가위바위보 */
  .button-area > button {
    padding: 24px;
  }
}
